section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }
}